<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg model)_robot">
  <!-- Parameters -->
  <xacro:arg name="model" default=""/> <!-- ur3, ur3e, ur5, ur5e, ur10, ur10e or ur16e -->
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="joint_limit_params" default=""/>
  <xacro:arg name="kinematics_params" default=""/>
  <xacro:arg name="physical_params" default=""/>
  <xacro:arg name="visual_params" default=""/>
  <xacro:arg name="transmission_hw_interface" default=""/> <!-- position, velocity or effort -->
  <xacro:arg name="safety_limits" default=""/>
  <xacro:arg name="safety_pos_margin" default=""/>
  <xacro:arg name="safety_k_position" default=""/>

  <!-- Import macro -->
  <xacro:include filename="$(find ur_description)/urdf/macro.xacro"/>

  <!-- Call macro -->
  <xacro:ur
    model="$(arg model)"
    prefix="$(arg prefix)"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
  />
</robot>
