<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="ur10_arm_gazebo" params="prefix">

		<gazebo reference="${prefix}base_link">
			<material value="Gazebo/Grey" />
			<turnGravityOff>false</turnGravityOff>
		</gazebo>

		<gazebo reference="${prefix}shoulder_pan_link">
			<material value="Gazebo/Blue " />
			<turnGravityOff>false</turnGravityOff>
		</gazebo>

		<gazebo reference="${prefix}shoulder_lift_link">
			<material value="Gazebo/Grey" />
			<turnGravityOff>false</turnGravityOff>
		</gazebo>
	
		<gazebo reference="${prefix}elbow_link">
			<material value="Gazebo/Blue " />
			<turnGravityOff>false</turnGravityOff>
		</gazebo>
	
		<gazebo reference="${prefix}wrist_1_link">
			<material value="Gazebo/Grey" />
			<turnGravityOff>false</turnGravityOff>
		</gazebo>
	
		<gazebo reference="${prefix}wrist_2_link">
			<material value="Gazebo/Blue " />
			<turnGravityOff>false</turnGravityOff>
		</gazebo>

		<gazebo reference="${prefix}wrist_3_link">
			<material value="Gazebo/Grey" />
			<turnGravityOff>false</turnGravityOff>
		</gazebo>
	</xacro:macro>

</robot>
