<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur3" >

   <!-- common stuff -->
   <xacro:arg name="yaml_config" default="$(find ur_description)/config/ur3_default.yaml"/>
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

   <!-- common stuff -->
   <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
   <!-- ur3 -->
   <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro" />
   <!-- arm -->
   <xacro:ur3_robot prefix="" yaml_file="${load_yaml('$(arg yaml_config)')}" transmission_hw_interface="$(arg transmission_hw_interface)"
  />/>

</robot>
