<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"/>
  <arg name="prefix" default = "" />
  <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find ur_description)/urdf/ur10_robot.urdf.xacro' prefix:=$(arg prefix) limited:=$(arg limited)" />
</launch>
