<?xml version="1.0"?>
<launch>
  <arg name="yaml_config" default="$(find ur_description)/config/ur3_default.yaml"/>
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur_description)/urdf/ur3_robot_yaml.urdf.xacro' joint_limited:=$(arg joint_limited) yaml_config:=$(arg yaml_config) transmission_hw_interface:=$(arg transmission_hw_interface)" />
</launch>
