<?xml version="1.0"?>
<launch>
  <include file="$(dirname)/load.launch" pass_all_args="true"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(dirname)/view.rviz" required="true"/>
</launch>

