<?xml version="1.0"?>

<robot name="ur5_with_base">
  <include filename="$(find ur5_description)/urdf/model.urdf.xacro" />
  
  <link name="world_link" />
  <joint name="base_1_joint" type="fixed" >
    <parent link="world_link" />
    <child link= "base_1_link" />
  </joint>
  <joint name="base_2_joint" type="fixed" >
    <parent link="base_1_link" />
    <child link= "base_2_link" />
  </joint>
  <joint name="base_3_joint" type="fixed" >
    <parent link="base_2_link" />
    <child link= "base_3_link" />
  </joint>
  <joint name="base_4_joint" type="fixed" >
    <parent link="base_3_link" />
    <child link= "base_4_link" />
  </joint>
  <joint name="base_5_joint" type="fixed" >
    <parent link="base_4_link" />
    <child link= "base_5_link" />
  </joint>
  <joint name="robot_joint" type="fixed" >
    <parent link="base_5_link" />
    <child link= "base_link" />
    <origin xyz="0.0 0.50 0.55" rpy="0.0 0.0 0.0" />
  </joint>

  <link name="base_1_link">
    <visual>
      <geometry>
        <box size="0.25 0.50 0.10" />
      </geometry>
      <origin xyz="0.0 0.25 0.05" rpy="0.0 0.0 0.0" />
    </visual>
  </link>

  <link name="base_2_link">
    <visual>
      <geometry>
        <box size="0.25 0.45 0.80" />
      </geometry>
      <origin xyz="0.0 -0.225 0.40" rpy="0.0 0.0 0.0" />
    </visual>
  </link>

  <link name="base_3_link">
    <visual>
      <geometry>
        <box size="0.25 0.60 0.05" />
      </geometry>
      <origin xyz="0.0 0.25 0.525" rpy="0.0 0.0 0.0" />
    </visual>
  </link>

  <link name="base_4_link">
    <visual>
      <geometry>
        <box size="0.25 0.05 0.65" />
      </geometry>
      <origin xyz="0.0 0.075 0.695" rpy="0.0 0.0 0.0" />
    </visual>
  </link>

  <link name="base_5_link">
    <visual>
      <geometry>
        <box size="0.45 0.25 0.30" />
      </geometry>
      <origin xyz="0.0 -0.325 1.00" rpy="0.0 0.0 0.0" />
    </visual>
  </link>

</robot>
