<?xml version="1.0"?>
<!--
  Universal robot ur10 launch.  Loads ur10 robot description (see ur_common.launch
  for more info)

  Usage:
    ur10_bringup.launch robot_ip:=<value>
-->
<launch>
  
  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip" doc="IP of the controller" />
  <arg name="reverse_port" default="50001" doc="Port on which controller listens for position values passed to servoj thread from the driver" />
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="min_payload"  default="0.0" doc="lower payload bound for the robot" />
  <arg name="max_payload"  default="20.0" doc="upper payload bound for the robot" />

  <!-- robot model -->
  <include file="$(find ur_description)/launch/ur10_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>
  
  <!-- ur common -->
  <include file="$(find ur_bringup)/launch/ur_common.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="reverse_port" value="$(arg reverse_port)"/>
    <arg name="min_payload"  value="$(arg min_payload)"/>
    <arg name="max_payload"  value="$(arg max_payload)"/>
  </include>

</launch>
