<?xml version="1.0"?>
<launch>
  <!-- gazebo parameters-->
  <arg name="paused" default="false" doc="Starts Gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts Gazebo gui" />

  <arg name="controllers" default="joint_state_controller pos_traj_controller" doc="Controllers that are activated by default."/>
  <arg name="stopped_controllers" default="joint_group_pos_controller" doc="Controllers that are initally loaded, but not started."/>
  <arg name="controller_config_file" default="$(find ur_gazebo)/config/ur16e_controllers.yaml" doc="Config file used for defining the ROS-Control controllers."/>
  <arg name="robot_description_file" default="$(find ur_gazebo)/launch/load_ur16e.launch" doc="Robot description launch file."/>
  <arg name="tf_prefix" default="" doc="tf_prefix used for the robot."/>

  <!--ur10 parameters files -->
  <arg name="joints_limits_params" default="$(find ur_description)/config/ur16e/joint_limits.yaml"/>
  <arg name="kinematics_params" default="$(find ur_description)/config/ur16e/default_kinematics.yaml"/>
  <arg name="physical_params" default="$(find ur_description)/config/ur16e/physical_parameters.yaml"/>
  <arg name="visual_params" default="$(find ur_description)/config/ur16e/visual_parameters.yaml"/>

  <include file="$(find ur_gazebo)/launch/ur_common.launch" pass_all_args="true"/>
</launch>
