<?xml version="1.0"?>
<!--
  Universal robot common bringup.  Starts ur driver node and robot state
  publisher (translates joint positions to propper tfs).
  
  NOTE: This launch file also starts a tf2 node, which is not typically
  used

  Usage:
    ur_common.launch robot_ip:=<value>
-->
<launch>
  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip" />
  
  <!-- copy the specified IP address to be consistant with ROS-Industrial spec.
  NOTE: The ip address is actually passed to the driver on the command line -->
  <param name="/robot_ip_address" type="str" value="$(arg robot_ip)"/>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- driver -->
  <node name="ur_driver" pkg="ur_driver" type="driver.py" args="$(arg robot_ip)" output="screen" />
   
  <!-- TF Buffer Server -->
  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server">
    <param name="buffer_size" value="120.0"/>
  </node>

</launch>
