<launch>
  <arg name="moveit_controller_manager"
       default="pr2_moveit_controller_manager/Pr2MoveItControllerManager"/>
  <param name="moveit_controller_manager"
         value="$(arg moveit_controller_manager)"/>

  <arg name="controller_manager_name"
       default="pr2_controller_manager" />
  <param name="controller_manager_name"
         value="$(arg controller_manager_name)"/>

  <arg name="use_controller_manager" default="false" />
  <param name="use_controller_manager"
         value="$(arg use_controller_manager)" />

  <rosparam file="$(find ur5_moveit_config)/config/controllers.yaml"/>
</launch>
